.rightPanelContainer{
    position: absolute;
    right: 2%;
    top: 160px;
    width: 18%;
}

.rightPanel{
    border-radius: 5px;
    background-color: var(--boxBackgroundColor);
    padding: 20px;
    box-shadow: 2px 5px 5px var(--shadowColor);
}

.dropdownSelect{
    border: 1px solid var(--primaryColor);
    background-color: #ffffff;
    color: #000000;
}

.dropdownSelect:hover, .dropdownSelect:focus, .show > .btn-primary.dropdown-toggle{
    background-color: var(--secondaryColor);
    color: white;
    border-color: var(--primaryColor);
}

.dropdownSelect:focus, .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 .25rem rgba(41, 104, 110, 0.45);
}
