.projectsBox{
    height: 600px;
    width: 100%;
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px;
}
 .projectsProjectsContainer{
    overflow: scroll;
    display: block ruby;
 }

.projectsNoProjectsContainer{
    text-align: center;
    padding: 20px;
}

.projectsNoProjectsIcon{
    margin-top: 50px;
    margin-bottom: 50px;
}

.projectsCard {
    width: 20% !important;
    padding: 15px;
    margin: 30px 20px 20px;
    border: 2px solid #bdefc7;
    transition: 1s;
}

.projectsCard:hover{
    cursor: pointer;
    border: 2px solid #29686E;
    transition: 1s;
}

.projectsCardHeader, .projectsCardFooter{
    background-color: white;
}

.projectsProjectImage{
    width: 100%;
    transform: scale(1.3);
}

.projectsDeleteIcon{
    color: var(--dangerColor);
}

.projectsNewProject{
    color: var(--primaryColor);
}

.projectsNewProject:hover{
    color: var(--secondaryColor);
    cursor: pointer;
}

.projectsCardMenuButton{
    background-color: white;
    border: none;
    border-radius: 20px;
}

.projectsCardMenuButton:hover{
    background-color: rgba(98, 165, 135, 0.66);
}

.projectsDeleteContainer:hover{
    cursor: pointer;
}

.projectsDeleteText{
    color: var(--dangerColor);
    font-size: 16px;
}

.folderBox{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid #c9c4c4;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.folderBox:hover{
    opacity: .7;
    cursor: pointer;
}

.folderHistory{
    padding: 12px;
    font-size: 18px;
}

.folderHistoryItem:hover{
    text-decoration: underline;
    cursor: pointer;
}