.projectsBox{
    height: 465px;
    width: 100%;
    text-align: left;
}
 .projectsProjectsContainer{
    overflow: scroll;
     display: block ruby;
 }

.projectsNoProjectsContainer{
    text-align: center;
    padding: 20px;
}

.projectsNoProjectsIcon{
    margin-top: 50px;
    margin-bottom: 50px;
}

.projectsCard {
    width: 35% !important;
    padding: 15px;
    margin: 30px 20px 20px;
    border: 2px solid #bdefc7;
    transition: 1s;
}

.projectsCard:hover{
    cursor: pointer;
    border: 2px solid #29686E;
    transition: 1s;
}

.projectsCardHeader, .projectsCardFooter{
    background-color: white;
}

.projectsProjectImage{
    width: 100%;
    transform: scale(1.2);
}

.projectsDeleteIcon{
    color: var(--dangerColor);
}

.projectsNewProject{
    color: var(--primaryColor);
}

.projectsNewProject:hover{
    color: var(--secondaryColor);
    cursor: pointer;
}

.projectsCardMenuButton{
    background-color: white;
    border: none;
    border-radius: 20px;
}

.projectsCardMenuButton:hover{
    background-color: rgba(98, 165, 135, 0.66);
}

.projectsDeleteContainer:hover{
    cursor: pointer;
}

.projectsDeleteText{
    color: var(--dangerColor);
    font-size: 16px;
}
