.simulatorLauncherContainer{
    position: absolute;
    right: 2%;
    top: 160px;
    width: 22%;
    border-radius: 5px;
    background-color: var(--boxBackgroundColor);
    padding: 20px;
    box-shadow: 2px 5px 5px var(--shadowColor);
}