.selectPortsContainer{
    position: absolute;
    left: 20%;
    top: 160px;
}

.selectPorts{
    border-radius: 5px;
    background-color: var(--boxBackgroundColor);
    padding: 5px;
    box-shadow: 2px 5px 5px var(--shadowColor);
}

.dropdownItem{
    color: #000000;
    text-transform: capitalize;
}

.dropdownItem:hover{
    color: rgba(189, 186, 186, 0.87);
}