.btn-import{
    position: absolute;
    left: 50%;
    top: 50%;
}

.canvas{
    width: 100% !important;
    height: 100% !important;
}
.modelContainer{
    position: absolute;
    left: 2%;
    top: 200px;
    width: 300px;
    height: 500px;
    text-align: center;
}

.outliner{
    display: flex;
}

.outlinerGroupIcon{
    width: 30px;
    height: 30px;
}

.outlinerComponentIcon{
    width: 20px;
    height: 20px;
}

.outlinerGroupTitle{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 400;
}

.outlinerParts{
    padding-left: 10px;
    display: flex;
}

.rowActive{
    background-color: #ededed;
}

.rowElements:hover{
    background-color: #ededed;
    cursor: pointer;
}