.projectTab{
    text-decoration: none;
    color: var(--activeColor);
}

.projectTabNotActive:hover{
    cursor: pointer;
}

.projectTabNotActive{
    text-decoration: none;
    color: var(--notActiveColor);
}

.closeIconContainer{
    margin-left: 30px;
}

.closeIcon, .addNewProjectIcon{
    width: 12px;
    height: 12px;
    color: var(--notActiveColor);
}

.addNewProject{
    margin: auto auto auto 25px;
}

.nav-item{
    border-radius: 10px !important;
}

.navItemTabs{
    background-color: #dadada;
    border-radius: 5px 5px 0 0 !important;
    box-shadow: -2px 0 0 #cfcfcf;
    border-bottom: none;
}

.nav-link{
    display: flex;
}
