.projectTab{
    text-decoration: none;
    color: var(--activeColor);
}

.projectTabNotActive:hover{
    cursor: pointer;
}

.projectTabNotActive{
    text-decoration: none;
    color: var(--notActiveColor);
}

.closeIconContainer{
    margin-left: 30px;
}

.closeIcon, .addNewProjectIcon{
    width: 12px;
    height: 12px;
    color: var(--notActiveColor);
}

.addNewProject{
    margin: auto auto auto 25px;
}

.nav-item{
    border-radius: 10px !important;
}

.navItemTabs{
    background-color: #dadada;
    border-radius: 5px 5px 0 0 !important;
    box-shadow: -2px 0 0 #cfcfcf;
    border-bottom: none;
}

.nav-link{
    display: flex;
}

.notificationContainer{
    padding-bottom: 7px;
    display: contents;
}

.notificationIcon, .userIcon{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    color: var(--primaryColor);
}

.notificationIcon:hover, .userIcon:hover{
    color: var(--secondaryColor);
    cursor: pointer;
}

.loginButton{
    background-color: var(--primaryColor);
    color: white;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    padding: 4px 10px 4px 10px;
    font-weight: 600;
}

.loginButton:hover{
    opacity: .7;
}

.userDropdown{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    list-style: none;
    position: absolute;
    right: 10px;
    margin-top: 8px;
    width: max-content;
    box-shadow: 5px 5px 10px 0 ;
}

.userNameText{
    font-weight: 600;
    color: #29686E;
}

.listItemIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: var(--primaryColor);
}

.listItemProfileMenu{
    padding: 5px;
}

.listItemProfileMenu:hover{
    background-color: rgba(41, 104, 110, 0.42);
    font-weight: 500;
    cursor: pointer;
}