.menuBarContainer{
    display: flex;
    justify-content: center;
}

.menuBar{
    background-color: var(--boxBackgroundColor) !important;
    padding: 10px;
    width: 96%;
    border-radius: 10px;
}