.projectsBox{
    height: 465px;
    width: 100%;
    text-align: left;
}
 .projectsProjectsContainer{
    overflow: scroll;
     display: block ruby;
 }

.projectsNoProjectsContainer{
    text-align: center;
    padding: 20px;
}

.projectsNoProjectsIcon{
    width: 250px;
    height: 250px;
}

.projectsCard {
    width: 20% !important;
    padding: 15px;
    margin: 30px 20px 20px;
}

.projectsCard:hover{
    cursor: pointer;
}

.projectsCardHeader, .projectsCardFooter{
    background-color: white;
}

.projectsProjectImage{
    width: 90%;
}

.projectsDeleteIcon{
    color: var(--dangerColor);
}

.projectsNewProject{
    color: var(--primaryColor);
}

.projectsNewProject:hover{
    color: var(--secondaryColor);
    cursor: pointer;
}

.projectsCardMenuButton{
    background-color: white;
    border: none;
    border-radius: 20px;
}

.projectsCardMenuButton:hover{
    background-color: rgba(255, 218, 255, 0.73);
}

.projectsDeleteContainer:hover{
    cursor: pointer;
}

.projectsDeleteText{
    color: var(--dangerColor);
    font-size: 16px;
}
