body{
  background-color: #ececec !important;
}
.notificationIcon, .userIcon{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.navbar{
  padding: 10px 10px 0 !important;
}

.navbar-brand{
  padding-bottom: 7px;
  margin-left: 20px;
}

.nav-link{
  color: #a3a3a3 !important;
  border: none !important;
}

.nav-tabs{
  border: none !important;
}

.active{
  color: black !important;
  border: none !important;
}

.notificationContainer{
  padding-bottom: 7px;
}