.listItemPort{
    margin-top: 5px;
    padding: 5px;
}
.listItemPort:hover{
    background-color: var(--backgroundColor);
    cursor: pointer;
    border-radius: 5px;
}

.listItemPortSelected{
    background-color: var(--backgroundColor);
    border-radius: 5px;
}